@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Poppins:wght@200&display=swap');

.body1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    
}

.image{
    position: absolute;
    top:57px;
    left: 60px;
}
nav{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

nav .nav-item{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    
 }

  .nav-links1{
    list-style: none;
   
    font-size: 16px;
    padding: 30px;
    cursor: pointer;
 }

 .nav-links1 li a{
  text-decoration: none;
  color: black;
 }

 .nav-links2{
  list-style: none;
  
   position: absolute;
   left: 985px;
   font-size: 16px;
   padding: 30px;
   cursor: pointer;
}

.nav-links2 li a{
  text-decoration: none;
  color: black;

 }

.nav-links3{
  list-style: none;
   position: absolute;
   left: 1070px;
   font-size: 16px;
   padding: 30px;
   cursor: pointer;
}

.nav-links3 li a{
  text-decoration: none;
  color: black;

 }

 .nav-links1 li :hover{
    color: blueviolet;
 }

 .nav-links2 li :hover{
   color: blueviolet;
}

.nav-links3 li :hover{
   color: blueviolet;
}

 .brand{
   position: absolute;
   left: 90px;
   top: 29px;
    font-size: 30px;
    font-weight: bolder;
    padding: 30px;
    
 }

 .hero{
    position: absolute;
    left: 0px;
    top: 2px;
    width: 629px;
    height: 808px;
    background-color: #9825F1;
    opacity: 0.7;
    
    
 }

 .back{
    position: absolute;
    left: 0px;
    top: 143px;
    width: 1266px;
    height: 808px;
    background-color: #D9D9D9;

 }

 .card1{
    position: absolute;
    left: 300px;
    top: 136px;
    width: 420px;
    height: 558px;
    background-color: #9825F1;
    box-shadow:  0 14px 28px rgba(0, 0, 0, 0.41) , 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 1;

 }

 .Hello{
   position: absolute;
   left: 760px;
   top:100px;
   font-size: 50px;
 }

 .here{
   position: absolute;
   top: 250px;
   left: 760px;
   font-size:34px ;
 }

 .here1{
   position: absolute;
   top: 400px;
   left: 760px;
   font-size:30px ;
   font-family: 'Poppins', sans-serif;
   color: #4A4949;
 }

 .here2{
   position: absolute;
   top: 450px;
   left: 760px;
   font-size:30px ;
   font-family: 'Poppins', sans-serif;
   color: #4A4949;
 }

 .profile img{
   position: absolute;
   left: 130px;
   top:35px;
   border-radius:50%;
 }

 .name{
   position: absolute;
   left:89px;
   top: 250px
 }

 .bar{
   position: absolute;
   left: 155px;
   top: 340px;
   width: 110px;
   height: 5px;
   background-color:#D9D9D9;
   border-radius: 15px 15px 15px 15px;
 }

 .bar2{
   position: absolute;
   left: 0px;
   top: 492px;
   width: 420px;
   height: 66px;
   background-color:#FFFFFF;
  
 }

 .full{

   position: absolute;
   top:360px;
   left:70px;
   color: #2D2C2C;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   
   
 }

 .lindkedin{

  position: absolute;
  left: 120px;
  top: 15px;
  cursor: pointer;
 }

 .lindkedin img:hover{
  width: 40px;
  height: 40px;
  position: absolute;
  top: -5px;
}

.instagram{

  position: absolute;
  left: 195px;
  top: 17px;
  cursor: pointer;
 }

 .instagram img:hover{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -2px;
}

.facebook{

  position: absolute;
  left: 270px;
  top: 17px;
  cursor: pointer;
 }

 .facebook img:hover{
  width: 40px;
  height: 40px;
  position: absolute;
  top: -5px;
}

h1.about{
  position: absolute;
  font-size: 36px;
  top: 1050px;
  left: 550px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-family: "Myriad Pro Light"
}

h2.info{
  position: absolute;
  top: 1115px;
  left: 570px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #4A4949;
  font-size: 14px;
  
}

.work{
  position: absolute;
  top: 1200px;
  left: 180px
}

.intro h1{

  position: absolute;
  width: 450px;
  font-size: 18px;
  font-weight: normal;
  top: 1250px ;
  left: 600px;
  color: #4A4949;
}

.intro h2{

  position: absolute;
  width: 450px;
  font-size: 18px;
  font-weight: normal;
  top: 1350px ;
  left: 600px;
  color: #4A4949;
}

.experience h1{

  position: absolute;
  top: 1550px;
  left: 620px;
  font-size: 25px;
}

.experience h2{

  position: absolute;
  top: 1550px;
  left: 810px;
  font-size: 25px;
}

.experience h3{

  position: absolute;
  top: 1550px;
  left: 1000px;
  font-size: 25px;
}

.head1{
  position: absolute;
  width: 50px;
  height: 100px;
}
.experience2 h1{

  position: absolute;
  top: 1470px;
  left: 590px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

.experience2 h2{

  position: absolute;
  top: 1600px;
  left: 800px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

.experience2 h3{

  position: absolute;
  top: 1600px;
  left: 980px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

.experience1{
  position: absolute;
  top: 1520px;
  left: 608px;
}

.experience3{
  position: absolute;
  top: 1520px;
  left: 799px;
}

.experience4{ 
  position: absolute;
  top: 1530px;
  left: 990px;
}

.resumeback button{

  position: absolute;
  top:1700px;
  left: 600px;
  width:200px;
  height: 50px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px 10px 10px 10px;
  border-color: black;
  border-width: 4px;
  cursor: pointer;
}

.resumeback h5{

  position: absolute;
  top:-27px;
  left: -26px;
  width:200px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-color: black;
  border-width: 4px;
}

.resumeback img{
  position: absolute;
  top: 7px;
  left: 130px;
  width: 18px;
  height: 25px;
}

.resumeback button:hover{
  background-color: #ad56ef;
  
}

.head2{
  position: absolute;
  top: 0px;
  left: -10px;
  position: absolute;
  width: 40px;
  height: 100px;
}

.head3{
  position: absolute;
  top: 0px;
  left: -10px;
  position: absolute;
  width: 40px;
  height: 100px;
}

.qualification{
  position: absolute;
  top: 1880px;
  left: 600px;
  font-size: 28px;
}

.qualification h2{
  position: absolute;
  width:200px;
  height: 50px;
  top: 80px;
  left: -20px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.skills{
  position: absolute;
  top: 1990px;
  left: 380px;
  width: 500px;
  
  margin: 60px auto;
  background-color: #FFFFFF;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  box-shadow:  0 14px 28px rgba(0, 0, 0, 0.25) , 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skills .sec{
  margin: 20px 0;
  padding: 10px;
}

.bar1{
  background: white;
  display: block;
  height: 20px;
  border: 1px solid rgb(0,0,0, 0.3);
  border-radius:10px ;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) , 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8,.25, .1);

}

.bar1:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) , 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar1 span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg , rgb(139, 17, 227)0% , rgb(225, 4, 237)100% );
}

.html{
  width: 90%;
  animation: html 3s;
}

.css{
  width: 40%;
  animation: css 3s;
}

.c{
  width: 90%;
  animation: c 3s;
}

.python{
  width: 50%;
  animation: python 3s;
}

.design{
  width: 60%;
  animation: design 3s;
}

@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}

@keyframes c{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}


@keyframes design{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}

.coder{
  position: absolute;
  top: 2000px;
  left: 1000px;
}

.designer{
  position: absolute;
  top: 2700px;
  left: 170px;
}

.qualification1{
  position: absolute;
  top: 2900px;
  left: 540px;
  font-size: 28px;
}

.qualification1 h2{
  position: absolute;
  width:200px;
  height: 50px;
  top: 80px;
  left: 30px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

